node_modules
npm-debug.log
.DS_Store
dist
.env
services/**/node_modules
services/**/dist
data/recordings
data/frames
data/tracks
# data/models  # Descomentar si no se quieren versionar modelos
notas.txt
finetuning